.anchor{
  display: flex;
  flex-wrap: wrap;
  grid-column: 3;
}

.author{
  margin-bottom: 3px;
  margin-left: 5px;
  margin-right: 5px;
}

body {
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

.body{
  margin-bottom: 3px;
  margin-left: 5px;
  margin-right: 5px;
}

.hashtagsAnchor{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.hashtags{
  margin-left: 5px;
  margin-right: 5px;
}

.hashtagsAll{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.hashtagContent{
  margin-right: 10px;
}

.hashtagHeader{
  height: 200px;
  margin-right: 1em;
  width: 100%;
}

.header{
  text-align: left;
  grid-column: 1;
}

.header h1{
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}

.header h2{
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}

.header img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.home {
  display: grid;
  grid-template-columns: 0.7fr 0.5fr 2fr;
}

.navbar{
    grid-column: 2;
    height: 100%;
    margin-bottom: 0px;
    width: 8em;
}

.navbar__main {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  position: fixed;
  width: 6em;
}

.navbar h2 {
    margin-top: 1em;
    text-align: center;
}

.navbar__main li {
  margin-top: 0.25em;
}

.post{
  display: flex;
  flex-direction: column;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 0.5em;
  width: 27em;
}

.postHeader{
  margin-right: 2em;
  width: 100%;
}

.title{
  margin-bottom: 5px;
}